button {
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

input, select {
  border: none;
  outline: none;
  background-color: #fafafb;
  font-size: 14px;
  border-bottom: 2px solid #d1d1d1;
  padding: 8px;
}

input:hover, input:focus, select:hover, select:focus {
  border-bottom: 2px solid #208cff;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 22px; */
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2e92fd;
  border: 1px solid #2e92fd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 3px;
  top: -1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  /* border-radius: 4px; */
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

* {
  font-family: "open sans", sans-serif;
}

header {
  width: 1280px;
  margin: 0 auto;
  padding: 10px 0;
}

@media screen and (max-width: 1280px) {
  header {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  header {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  header {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  header {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  header {
    width: 95%;
  }
}

header .grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .grid-wrap .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .grid-wrap .col-1 .logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

header .grid-wrap .col-1 .logo span {
  opacity: 0.6;
}

header .grid-wrap .col-1 .search-field {
  position: relative;
}

header .grid-wrap .col-1 .search-field input {
  all: unset;
  width: 350px;
  padding: 8px;
  padding-left: 45px;
  border-radius: 3px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
}

header .grid-wrap .col-1 .search-field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header .grid-wrap .col-1 .search-field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header .grid-wrap .col-1 .search-field input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header .grid-wrap .col-1 .search-field input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header .grid-wrap .col-1 .search-field input:focus {
  background-color: #fff;
}

header .grid-wrap .col-1 .search-field input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

header .grid-wrap .col-1 .search-field input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

header .grid-wrap .col-1 .search-field input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

header .grid-wrap .col-1 .search-field input:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

header .grid-wrap .col-1 .search-field svg {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .grid-wrap .col-1 .search-field svg path {
  -webkit-transition: 0s;
  transition: 0s;
  fill: rgba(255, 255, 255, 0.8);
}

header .grid-wrap .col-1 .search-field svg.dark-icon path {
  fill: rgba(0, 0, 0, 0.8);
}

header .grid-wrap .col-2 {
  -ms-grid-column-align: end;
      justify-self: end;
}

header .grid-wrap .col-2 .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

header .grid-wrap .col-2 .nav-bar .menu a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
}

header .grid-wrap .col-2 .nav-bar .menu a:hover {
  opacity: 0.7;
}

header .grid-wrap .col-2 .nav-bar .btn a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 5px 50px;
  border-radius: 4px;
  white-space: nowrap;
}

header .grid-wrap .col-2 .nav-bar .btn a:hover {
  background-color: #fff;
  color: #007bff;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu .btn svg path {
  fill: #fff;
}

.responsive-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  opacity: 0;
  height: 100vh;
  background-color: #2596EC;
  z-index: 9999;
  -webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.responsive-content .head {
  position: relative;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-content .head .title {
  font-size: 16px;
  color: #fff;
}

.responsive-content .head .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.responsive-content .head .cls-btn button {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.responsive-content .head .cls-btn button svg path {
  stroke: #007bff;
}

.responsive-content .responsive-menu {
  padding: 10px 30px;
}

.responsive-content .responsive-menu a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.responsive-content .responsive-menu a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.responsive-content .responsive-menu .btn a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  padding: 5px 50px;
  border-radius: 4px;
  white-space: nowrap;
}

.responsive-content .responsive-menu .btn a:hover {
  background-color: #fff;
  color: #007bff;
  border: 2px solid #fff;
}

.show-navcontent {
  opacity: 1;
  width: 50%;
}

@media screen and (max-width: 1199px) {
  .hero-bgimg header .grid-wrap .col-1 .search-field input {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hero-bgimg header .grid-wrap .col-2 .nav-bar {
    display: none;
  }
  .hero-bgimg header .grid-wrap .col-2 .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .hero-bgimg header .grid-wrap .col-1 .logo {
    white-space: normal;
  }
  .hero-bgimg header .grid-wrap .col-1 .search-field {
    display: none;
  }
  .hero-bgimg header .grid-wrap .col-1 .search-field input {
    width: 50%;
  }
  .show-navcontent {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: #022144;
}

footer .upper-part {
  width: 1280px;
  margin: 0 auto;
  padding: 75px 0px;
}

@media screen and (max-width: 1280px) {
  footer .upper-part {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  footer .upper-part {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  footer .upper-part {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  footer .upper-part {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  footer .upper-part {
    width: 95%;
  }
}

footer .upper-part .grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  color: #fff;
}

footer .upper-part .grid-wrap .logo {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

footer .upper-part .grid-wrap .logo span {
  opacity: 0.6;
}

footer .upper-part .grid-wrap .title {
  margin-bottom: 10px;
}

footer .upper-part .grid-wrap .title h3 {
  font-size: 16px;
}

footer .upper-part .grid-wrap .wrap {
  margin-bottom: 30px;
}

footer .upper-part .grid-wrap .links div {
  margin-bottom: 7px;
}

footer .upper-part .grid-wrap .links div a {
  color: rgba(255, 255, 255, 0.7);
}

footer .upper-part .grid-wrap .links div a:hover {
  color: #fff;
}

footer .lower-part {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0px;
}

@media screen and (max-width: 1280px) {
  footer .lower-part {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  footer .lower-part {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  footer .lower-part {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  footer .lower-part {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  footer .lower-part {
    width: 95%;
  }
}

footer .lower-part .grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .lower-part .grid-wrap .col-1 h5 {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

footer .lower-part .grid-wrap .col-1 h5 a {
  color: #fff;
  margin: 0 5px;
}

footer .lower-part .grid-wrap .col-2 {
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .lower-part .grid-wrap .col-2 .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}

footer .lower-part .grid-wrap .col-2 .social-icon a svg path {
  fill: #fff;
}

@media screen and (max-width: 991px) {
  footer .upper-part {
    width: 70%;
  }
  footer .upper-part .grid-wrap {
    grid-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .lower-part {
    width: 70%;
  }
  footer .lower-part .grid-wrap {
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  footer .lower-part .grid-wrap .col-2 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  footer .upper-part {
    width: 70%;
  }
  footer .upper-part .grid-wrap {
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .lower-part {
    width: 70%;
  }
  footer .lower-part .grid-wrap {
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  footer .lower-part .grid-wrap .col-2 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.hero-bgimg {
  background: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-bgimg .container {
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
  height: 95vh;
  min-height: 700px;
  display: -ms-grid;
  display: grid;
  margin-bottom: 75px;
}

@media screen and (max-width: 1280px) {
  .hero-bgimg .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .hero-bgimg .container {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  .hero-bgimg .container {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .hero-bgimg .container {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  .hero-bgimg .container {
    width: 95%;
  }
}

.hero-bgimg .container .grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 350px;
}

.hero-bgimg .container .grid-wrap .col-1 {
  height: 100%;
}

.hero-bgimg .container .grid-wrap .col-1 .title {
  margin-bottom: 20px;
}

.hero-bgimg .container .grid-wrap .col-1 .title h1 {
  font-size: 40px;
  color: #fff;
}

.hero-bgimg .container .grid-wrap .col-1 .text h5 {
  font-size: 14px;
  color: #fff;
}

.hero-bgimg .container .grid-wrap .col-2 form {
  background-color: #fff;
  padding: 40px 50px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.hero-bgimg .container .grid-wrap .col-2 form > div {
  margin-bottom: 15px;
}

.hero-bgimg .container .grid-wrap .col-2 form .title h1 {
  font-size: 22px;
  color: #313131;
}

.hero-bgimg .container .grid-wrap .col-2 form .goto-signin {
  font-size: 14px;
  color: #727272;
}

.hero-bgimg .container .grid-wrap .col-2 form .goto-signin a {
  margin-left: 10px;
  color: #007bff;
  font-weight: 700;
}

.hero-bgimg .container .grid-wrap .col-2 form input {
  width: 100%;
}

.hero-bgimg .container .grid-wrap .col-2 form .label {
  font-size: 14px;
  color: #626262;
  margin-bottom: 5px;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div {
  position: relative;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div label {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  color: #7a7a7a;
  pointer-events: none;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div .icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div .icon svg {
  width: 12px;
  height: 12px;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div .icon svg path {
  fill: #626262;
}

.hero-bgimg .container .grid-wrap .col-2 form .dob-field > div select {
  width: 100%;
  padding-top: 35px;
  -webkit-appearance: none;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field {
  position: relative;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .pass-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .pass-icon svg {
  width: 14px;
  height: 14px;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .pass-icon svg path {
  fill: #007bff;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .show-pass {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .show-pass svg {
  width: 13px;
  height: 13px;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .show-pass svg path {
  fill: #626262;
}

.hero-bgimg .container .grid-wrap .col-2 form .pass-field .hide-icon {
  opacity: 0;
}

.hero-bgimg .container .grid-wrap .col-2 form .update-notify-field {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  margin-bottom: 20px;
}

.hero-bgimg .container .grid-wrap .col-2 form .update-notify-field label {
  font-size: 12px;
  color: #838383;
  line-height: 1em;
  white-space: normal;
}

.hero-bgimg .container .grid-wrap .col-2 form .update-notify-field label p {
  line-height: 1.5em;
}

.hero-bgimg .container .grid-wrap .col-2 form .update-notify-field label p br {
  display: none;
}

.hero-bgimg .container .grid-wrap .col-2 form .btn button {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  color: #fff;
  background-color: #007bff;
}

.hero-bgimg .container .grid-wrap .col-2 form .btn button:disabled,
.hero-bgimg .container .grid-wrap .col-2 form .btn button[disabled] {
  background-color: gray;
}

.hero-bgimg .container .grid-wrap .col-2 form .terms {
  font-size: 13px;
  color: #838383;
}

.hero-bgimg .container .grid-wrap .col-2 form .terms a {
  white-space: nowrap;
  text-decoration: underline;
  color: #6e6e6e;
}

.hero-bgimg .container .grid-wrap .col-2 form .error-msg {
  display: none;
  padding: 8px;
  font-size: 14px;
  color: #ce0000;
}

.hero-bgimg .container .grid-wrap .col-2 form .error input {
  border-color: #ce0000;
}

.hero-bgimg .container .grid-wrap .col-2 form .error .error-msg {
  display: block;
}

@media screen and (max-width: 1280px) {
  .hero-bgimg .container .grid-wrap .col-2 form .update-notify-field label p br {
    display: block;
  }
  .checkmark {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}

@media screen and (max-width: 1199px) {
  .hero-bgimg .container .grid-wrap {
    grid-gap: 200px;
  }
}

@media screen and (max-width: 991px) {
  .hero-bgimg .container .grid-wrap {
    grid-gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .hero-bgimg .container {
    min-height: auto;
    height: auto;
  }
  .hero-bgimg .container .grid-wrap {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 80px;
    width: 80%;
    margin: auto;
  }
  .hero-bgimg .container .grid-wrap .col-1 {
    height: 40vh;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .hero-bgimg .container {
    min-height: auto;
    height: auto;
    width: 100%;
    margin-top: 50px;
  }
  .hero-bgimg .container .grid-wrap {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 0px !important;
    text-align: center;
    width: 100% !important;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero-bgimg .container .grid-wrap .col-1 {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: start !important;
        align-content: start !important;
    width: 85%;
    margin: 0 auto;
  }
  .hero-bgimg .container .grid-wrap .col-2 {
    width: 100%;
    margin: auto;
    text-align: left;
  }
  .hero-bgimg .container .grid-wrap .col-2 form {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: clamp(20px, 2.5vw, 40px);
  }
}

@media screen and (max-width: 360px) {
  .hero-bgimg .container {
    min-height: auto;
    height: auto;
    margin-top: 50px;
  }
  .hero-bgimg .container .grid-wrap {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 0px;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .hero-bgimg .container .grid-wrap .col-1 {
    height: 60vh;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
/*# sourceMappingURL=signup.css.map */